#### This notebook details the complete data preprocessing and merging procedures, culminating in the statistics reported in Table 1. Thsi code also  generates  'df_flu_with_flu_rate.csv' and 'df_merged.csv' for the follwoing analysis

##  Cities

In [1]:
import os
import geopandas as gpd
import pandas as pd

# 读取GeoJSON文件
gdf = gpd.read_file("E:\\sleep cycle\\Geodata\\selected_geometry_all.geojson")


# 2. 设置数据目录
data_dir = r"E:\sleep cycle\data\cough_rate_with_user_count"

# 3. 初始化字典收集所有读取的数据
data_dict = {}

results = []

# 4. 遍历所有 NAME_2
for name in gdf['NAME_2'].unique():
    if pd.isna(name):
        continue  # 跳过缺失值
    
    filename = "cough_aggregates_" + name.replace(" ", "_") + "_2024.csv"
    filepath = os.path.join(data_dir, filename)
    
    if os.path.exists(filepath):
        df = pd.read_csv(filepath)
        
        avg_hours = df['total_session_hours'].mean()
        avg_users = df['total_users'].mean()
        avg_cough_rate = df['cough_rate'].mean()
        total_days = len(df)
        results.append({"City": name, "avg_hours": avg_hours, "avg_users":avg_users, "avg_cough_rate":avg_cough_rate,"total_days": total_days})
            
        data_dict[name] = df
    else:
        print(f"⚠️ 文件不存在：{filepath}")

# 5. 打印成功读取的城市数量
print(f"\n成功读取 {len(data_dict)} 个城市的数据。")

# 5. 转为 DataFrame
df_total = pd.DataFrame(results)

成功读取 49 个城市的数据。

In [2]:
df_total

,City,avg_hours,avg_users,avg_cough_rate,total_days
0,Bangalore,551.854257,97.441584,0.647474,505
1,Beijing,8676.637157,1361.633333,0.558888,510
2,Bergamo,808.741818,122.652525,0.694822,495
3,Berlin,18642.766504,2796.610568,0.592418,511
4,Birmingham,4966.653718,754.761252,0.721695,511
5,Bogota,2105.928170,344.586275,0.630438,510
6,Brisbane,21801.531931,3207.896282,0.584968,511
7,Cambridgeshire,4289.139432,615.954990,0.677420,511
8,Chengdu,2479.888987,396.870588,0.560845,510
9,Chicago,26136.038542,3944.730469,0.577351,512
10,City of Cape Town,2619.957339,388.195695,0.684366,511
11,City of Johannesburg,2312.302414,351.258317,0.729593,511
12,Columbus,15362.955208,2353.173828,0.666845,512
13,Daqing,22.741248,3.903766,0.359283,478
14,Florence,1665.538682,255.414873,0.852640,511
15,Guangzhou,3103.370523,521.398039,0.597729,510
16,Göteborg,13763.743705,2002.958904,0.756457,511
17,Hangzhou,2816.383301,448.369352,0.531760,509
18,Harbin,270.348744,44.234783,0.570735,345
19,Köln,6055.986204,933.174168,0.651703,511
20,Leipzig,2110.563470,316.636008,0.630701,511
21,Lima,1043.888703,179.893910,0.684950,509
22,London,91261.880469,13624.781250,0.608610,512
23,Los Angeles,52715.499349,8002.027344,0.597739,512
24,Malmö,6437.989791,943.943249,0.773730,511
25,Melbourne,32035.588813,4733.064579,0.568597,511
26,Milano,11405.309132,1778.103718,0.693084,511
27,Monza and Brianza,960.336467,145.088000,0.869598,500
28,München,10701.893151,1632.340509,0.537270,511
29,NCT of Delhi,458.084390,78.243354,0.768759,489
30,New York,33945.854850,5248.070312,0.455853,512
31,Osaka,35809.110763,6022.166341,0.766433,511
32,Oxfordshire,5090.966210,726.896282,0.711827,511
33,Paris,23640.092057,3594.384766,0.643108,512
34,Phoenix,20510.874494,3072.000000,0.668349,511
35,Pittsburgh,5883.640951,893.384766,0.646921,512
36,Rome,6396.103620,1003.144814,0.766125,511
37,Saint Louis,7093.238639,1056.826172,0.619516,512
38,Salt Lake,9476.042922,1416.307241,0.629422,511
39,Santiago,3304.354395,529.849609,0.733482,512
40,Sao Paulo,16205.574544,2610.390625,0.691427,512
41,Shanghai,11831.514379,1823.125490,0.555558,510
42,Shenzhen,3870.144260,638.655577,0.521868,511
43,Sydney,33913.194162,5077.722114,0.584062,511
44,Tokyo,119307.823940,19961.923679,0.706378,511
45,Uppsala,3782.186921,542.994129,0.750005,511
46,Wuhan,1022.728472,172.136905,0.538404,504
47,Xi an,862.632190,141.990196,0.582262,510
48,Zhengzhou,476.142544,82.508097,0.643935,494

## Air quality

In [3]:
# 2. 设置数据目录
air_dir = r"E:\sleep cycle\data\air_quality_all"

# 3. 初始化字典收集所有读取的数据
data_dict = {}

results = []

# 4. 遍历所有 NAME_2
for name in gdf['NAME_2'].unique():
    if pd.isna(name):
        continue  # 跳过缺失值
    
    filename = name.replace(" ", "-") + "-air-quality.csv"
    filepath = os.path.join(air_dir, filename)
    
    if os.path.exists(filepath):
        
        df = pd.read_csv(filepath)
        df.columns = df.columns.str.strip()
        
        # 确保 date 是 datetime 类型
        df['date'] = pd.to_datetime(df['date'])
        df = df[df['date'] >= '2023-10-01']
       
        df['pm25'] = pd.to_numeric(df['pm25'], errors='coerce')
        
        avg_PM25 = df['pm25'].mean()
        
        total_days = len(df)
        results.append({"City": name, "avg_PM25": avg_PM25,"air_total_days": total_days})
        
        data_dict[name] = df
    else:
        print(f"⚠️ 文件不存在：{filepath}")

# 5. 打印成功读取的城市数量
print(f"\n成功读取 {len(data_dict)} 个城市的数据。")

df_PM25 = pd.DataFrame(results)

成功读取 49 个城市的数据。

In [4]:
df_PM25

                    City    avg_PM25  air_total_days
0              Bangalore   73.872495             582
1                Beijing   89.290271             628
2                Bergamo   13.920129             696
3                 Berlin   52.151515             628
4             Birmingham   33.834798             573
5                 Bogota   62.129323             674
6               Brisbane   25.243902             623
7         Cambridgeshire    4.975957             517
8                Chengdu  106.097756             626
9                Chicago   32.802885             625
10     City of Cape Town   48.473684             239
11  City of Johannesburg   11.030535             636
12              Columbus   34.546703             514
13                Daqing  108.001603             626
14              Florence    4.744167             684
15             Guangzhou   80.978474             511
16              Göteborg   30.112523             591
17              Hangzhou   91.641476             571
18                Harbin   95.701754             628
19                  Köln    8.516596             614
20               Leipzig   40.058020             628
21                  Lima   76.286149             661
22                London   46.599681             628
23           Los Angeles   47.547812             626
24                 Malmö   30.818331             618
25             Melbourne   32.546493             613
26                Milano   18.976879             537
27     Monza and Brianza   12.687979             574
28               München   43.819536             628
29          NCT of Delhi  183.795527             628
30              New York   36.537190             605
31                 Osaka   50.894737             628
32           Oxfordshire    9.966942             605
33                 Paris   52.924800             627
34               Phoenix   29.009569             628
35            Pittsburgh   33.990338             628
36                  Rome    6.386667             696
37           Saint Louis   34.051364             623
38             Salt Lake   28.797448             628
39              Santiago   65.302885             630
40             Sao Paulo   51.156766             613
41              Shanghai   89.940989             628
42              Shenzhen   80.197767             628
43                Sydney   21.725678             628
44                 Tokyo   34.829061             629
45               Uppsala   19.559016             615
46                 Wuhan  115.410256             626
47                 Xi an  118.296474             626
48             Zhengzhou  111.282958             626

## Temperature and precipitation

In [5]:
# 2. 设置数据目录
air_dir = r"E:\sleep cycle\data\weather_all"

# 3. 初始化字典收集所有读取的数据
data_dict = {}

results = []

# 4. 遍历所有 NAME_2
for name in gdf['NAME_2'].unique():
#     print(name)
    if pd.isna(name):
        continue  # 跳过缺失值
    
    filename = name + "_noaa.csv"
    filepath = os.path.join(air_dir, filename)
    
    if os.path.exists(filepath):
        
        df = pd.read_csv(filepath)
        df.columns = df.columns.str.strip()
        
        # 确保 date 是 datetime 类型
        df['date'] = pd.to_datetime(df['DATE'])

        # 过滤出 2023年10月1日（含）之后的数据
        df = df[df['date'] >= '2023-10-01']

        df['TAVG'] = pd.to_numeric(df['TAVG'], errors='coerce')
        df['PRCP'] = pd.to_numeric(df['PRCP'], errors='coerce')
        
        avg_TAVG = df['TAVG'].mean()
        avg_PRCP = df['PRCP'].mean()
        
        total_day = len(df)
        results.append({"City": name, "avg_TAVG": avg_TAVG, "avg_PRCP": avg_PRCP,"climate_total_days": total_day})
        
        data_dict[name] = df
    else:
        print(f"⚠️ 文件不存在：{filepath}")

# 5. 打印成功读取的城市数量
print(f"\n成功读取 {len(data_dict)} 个城市的数据。")

df_weather = pd.DataFrame(results)

成功读取 49 个城市的数据。

In [6]:
df_weather

                    City   avg_TAVG  avg_PRCP  climate_total_days
0              Bangalore  76.256536  0.313450                 612
1                Beijing  51.278481  0.064301                 553
2                Bergamo  56.043928  0.146068                 387
3                 Berlin  49.536313  0.065505                 548
4             Birmingham  50.412561  0.098029                 548
5                 Bogota  58.147147  0.898200                 666
6               Brisbane  72.223833  0.172068                 622
7         Cambridgeshire  56.038062  0.112895                 578
8                Chengdu  60.422182  0.090475                 559
9                Chicago  47.252019  0.082621                 624
10     City of Cape Town  64.321008  0.256441                 595
11  City of Johannesburg  66.287435  0.250238                 581
12              Columbus  63.163695  0.388641                 617
13                Daqing  37.472039  0.047163                 608
14              Florence  41.259484  0.066976                 659
15             Guangzhou  72.608541  0.191153                 562
16              Göteborg  45.176852  0.110460                 545
17              Hangzhou  63.202341  0.170759                 598
18                Harbin  37.865894  0.062458                 604
19                  Köln  50.642336  0.094369                 548
20               Leipzig  49.762774  0.071332                 548
21                  Lima  67.918919  0.007847                 666
22                London  51.715302  0.085737                 562
23           Los Angeles  59.784000  0.034097                 625
24                 Malmö  46.787409  0.074927                 548
25             Melbourne  59.508065  0.081542                 620
26                Milano  56.043928  0.146068                 387
27     Monza and Brianza  56.043928  0.146068                 387
28               München  48.785484  0.103339                 630
29          NCT of Delhi  76.397415  0.266404                 619
30              New York  55.339144  0.117143                 631
31                 Osaka  61.652666  0.151382                 619
32           Oxfordshire  49.979015  0.090292                 548
33                 Paris  53.571659  0.088668                 630
34               Phoenix  72.895238  0.010810                 630
35            Pittsburgh  50.475318  0.118778                 630
36                  Rome  61.163606  0.065914                 599
37           Saint Louis  57.489699  0.127603                 631
38             Salt Lake  53.564184  0.040588                 631
39              Santiago  60.225564  0.024577                 665
40             Sao Paulo  70.055976  0.138514                 661
41              Shanghai  60.750909  0.112719                 550
42              Shenzhen  72.608541  0.191153                 562
43                Sydney  65.942717  0.100586                 611
44                 Tokyo  60.747981  0.173847                 619
45               Uppsala  41.048358  0.051058                 548
46                 Wuhan  62.379599  0.131333                 598
47                 Xi an  59.279605  0.049257                 608
48             Zhengzhou  59.798387  0.081563                 620

## Demographics

In [7]:
filepath = r'E:\sleep cycle\meta_data_countries_new.csv'
df_meta = pd.read_csv(filepath)

In [8]:
df_meta

,Tabell 1,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,NaN,Male/female ratio,Age Mean,Age Std,Age Median,Age Q1(25%<),Age Q3 (75%<)
1,China,1.45,32.6,9.07,31,27,37
2,UK,1.23,37,13.06,34,26,46
3,United States,1.07,39.8,15,36,27,50
4,Italy,1.93,39.7,13.05,37,28,49
5,Sweden,1.14,38.31,14.91,36,25,52
6,India,2.5,40.5,13.07,38,30,51
7,South Africa,2,41.76,14.6,40,31,52
8,Japan,1.83,43,13.07,44,32,54
9,France,1.45,35.9,13.02,32,25,47
10,Germany,1.87,36.7,13.04,34,26,48
11,Australia,0.93,34.9,12.07,32,25,44
12,Brazil,1.74,36.9,11.06,35,29,44
13,Chile,2.06,37.7,12.08,37,28,47
14,Peru,2.39,37.1,12.09,36,28,44
15,Colombia,2.12,37.2,12.02,35,28,46

##  Merge all

In [9]:
# 先合并 df_PM25 和 df_total
df_merged = pd.merge(df_PM25, df_total, on='City', how='inner')

# 再合并 df_merged 和 df_wealth
df_merged = pd.merge(df_merged, df_weather, on='City', how='inner')

# 创建一个从 NAME_2 到 NAME_0 的映射（字典）
name2_to_name0 = gdf.dropna(subset=['NAME_2']).drop_duplicates(subset=['NAME_2'])[['NAME_2', 'NAME_0']]
name2_to_name0_dict = dict(zip(name2_to_name0['NAME_2'], name2_to_name0['NAME_0']))

df_merged['Country'] = df_merged['City'].map(name2_to_name0_dict)
df_merged['Country-city'] = df_merged['Country'] + '-' + df_merged['City']

# 按 country 和 city 排序
df_merged = df_merged.drop(columns=['City', 'Country'])
df_merged = df_merged.sort_values(by='Country-city').reset_index(drop=True)

In [10]:
df_merged

,avg_PM25,air_total_days,avg_hours,avg_users,avg_cough_rate,total_days,avg_TAVG,avg_PRCP,climate_total_days,Country-city
0,25.243902,623,21801.531931,3207.896282,0.584968,511,72.223833,0.172068,622,Australia-Brisbane
1,32.546493,613,32035.588813,4733.064579,0.568597,511,59.508065,0.081542,620,Australia-Melbourne
2,21.725678,628,33913.194162,5077.722114,0.584062,511,65.942717,0.100586,611,Australia-Sydney
3,51.156766,613,16205.574544,2610.390625,0.691427,512,70.055976,0.138514,661,Brazil-Sao Paulo
4,65.302885,630,3304.354395,529.849609,0.733482,512,60.225564,0.024577,665,Chile-Santiago
5,89.290271,628,8676.637157,1361.633333,0.558888,510,51.278481,0.064301,553,China-Beijing
6,106.097756,626,2479.888987,396.870588,0.560845,510,60.422182,0.090475,559,China-Chengdu
7,108.001603,626,22.741248,3.903766,0.359283,478,37.472039,0.047163,608,China-Daqing
8,80.978474,511,3103.370523,521.398039,0.597729,510,72.608541,0.191153,562,China-Guangzhou
9,91.641476,571,2816.383301,448.369352,0.531760,509,63.202341,0.170759,598,China-Hangzhou
10,95.701754,628,270.348744,44.234783,0.570735,345,37.865894,0.062458,604,China-Harbin
11,89.940989,628,11831.514379,1823.125490,0.555558,510,60.750909,0.112719,550,China-Shanghai
12,80.197767,628,3870.144260,638.655577,0.521868,511,72.608541,0.191153,562,China-Shenzhen
13,115.410256,626,1022.728472,172.136905,0.538404,504,62.379599,0.131333,598,China-Wuhan
14,118.296474,626,862.632190,141.990196,0.582262,510,59.279605,0.049257,608,China-Xi an
15,111.282958,626,476.142544,82.508097,0.643935,494,59.798387,0.081563,620,China-Zhengzhou
16,62.129323,674,2105.928170,344.586275,0.630438,510,58.147147,0.898200,666,Colombia-Bogota
17,52.924800,627,23640.092057,3594.384766,0.643108,512,53.571659,0.088668,630,France-Paris
18,52.151515,628,18642.766504,2796.610568,0.592418,511,49.536313,0.065505,548,Germany-Berlin
19,8.516596,614,6055.986204,933.174168,0.651703,511,50.642336,0.094369,548,Germany-Köln
20,40.058020,628,2110.563470,316.636008,0.630701,511,49.762774,0.071332,548,Germany-Leipzig
21,43.819536,628,10701.893151,1632.340509,0.537270,511,48.785484,0.103339,630,Germany-München
22,73.872495,582,551.854257,97.441584,0.647474,505,76.256536,0.313450,612,India-Bangalore
23,183.795527,628,458.084390,78.243354,0.768759,489,76.397415,0.266404,619,India-NCT of Delhi
24,13.920129,696,808.741818,122.652525,0.694822,495,56.043928,0.146068,387,Italy-Bergamo
25,4.744167,684,1665.538682,255.414873,0.852640,511,41.259484,0.066976,659,Italy-Florence
26,18.976879,537,11405.309132,1778.103718,0.693084,511,56.043928,0.146068,387,Italy-Milano
27,12.687979,574,960.336467,145.088000,0.869598,500,56.043928,0.146068,387,Italy-Monza and Brianza
28,6.386667,696,6396.103620,1003.144814,0.766125,511,61.163606,0.065914,599,Italy-Rome
29,50.894737,628,35809.110763,6022.166341,0.766433,511,61.652666,0.151382,619,Japan-Osaka
30,34.829061,629,119307.823940,19961.923679,0.706378,511,60.747981,0.173847,619,Japan-Tokyo
31,76.286149,661,1043.888703,179.893910,0.684950,509,67.918919,0.007847,666,Peru-Lima
32,48.473684,239,2619.957339,388.195695,0.684366,511,64.321008,0.256441,595,South Africa-City of Cape Town
33,11.030535,636,2312.302414,351.258317,0.729593,511,66.287435,0.250238,581,South Africa-City of Johannesburg
34,30.112523,591,13763.743705,2002.958904,0.756457,511,45.176852,0.110460,545,Sweden-Göteborg
35,30.818331,618,6437.989791,943.943249,0.773730,511,46.787409,0.074927,548,Sweden-Malmö
36,19.559016,615,3782.186921,542.994129,0.750005,511,41.048358,0.051058,548,Sweden-Uppsala
37,33.834798,573,4966.653718,754.761252,0.721695,511,50.412561,0.098029,548,United Kingdom-Birmingham
38,4.975957,517,4289.139432,615.954990,0.677420,511,56.038062,0.112895,578,United Kingdom-Cambridgeshire
39,46.599681,628,91261.880469,13624.781250,0.608610,512,51.715302,0.085737,562,United Kingdom-London
40,9.966942,605,5090.966210,726.896282,0.711827,511,49.979015,0.090292,548,United Kingdom-Oxfordshire
41,32.802885,625,26136.038542,3944.730469,0.577351,512,47.252019,0.082621,624,United States-Chicago
42,34.546703,514,15362.955208,2353.173828,0.666845,512,63.163695,0.388641,617,United States-Columbus
43,47.547812,626,52715.499349,8002.027344,0.597739,512,59.784000,0.034097,625,United States-Los Angeles
44,36.537190,605,33945.854850,5248.070312,0.455853,512,55.339144,0.117143,631,United States-New York
45,29.009569,628,20510.874494,3072.000000,0.668349,511,72.895238,0.010810,630,United States-Phoenix
46,33.990338,628,5883.640951,893.384766,0.646921,512,50.475318,0.118778,630,United States-Pittsburgh
47,34.051364,623,7093.238639,1056.826172,0.619516,512,57.489699,0.127603,631,United States-Saint Louis
48,28.797448,628,9476.042922,1416.307241,0.629422,511,53.564184,0.040588,631,United States-Salt Lake

In [11]:
df_population = pd.read_csv('City_Population_Data.csv')
df_merged = pd.merge(df_merged, df_population, on='Country-city', how='inner')


df_merged['user_rate'] = df_merged['avg_users']/df_merged['Population']*10000

In [12]:
df_population

,Country,City,Population,Country-city
0,Australia,Brisbane,2570000,Australia-Brisbane
1,Australia,Melbourne,5390000,Australia-Melbourne
2,Australia,Sydney,5560000,Australia-Sydney
3,China,Beijing,22596000,China-Beijing
4,China,Chengdu,7416000,China-Chengdu
5,China,Daqing,2090000,China-Daqing
6,China,Guangzhou,14879000,China-Guangzhou
7,China,Hangzhou,6242000,China-Hangzhou
8,China,Harbin,5879000,China-Harbin
9,China,Shanghai,30000000,China-Shanghai
10,China,Shenzhen,13000000,China-Shenzhen
11,China,Wuhan,9785000,China-Wuhan
12,China,Xi'an,6501000,China-Xi an
13,China,Zhengzhou,4254000,China-Zhengzhou
14,France,Paris,12100000,France-Paris
15,Germany,Berlin,3700000,Germany-Berlin
16,Germany,K?ln,1100000,Germany-K?ln
17,Germany,Leipzig,600000,Germany-Leipzig
18,Germany,M?nchen,1600000,Germany-M?nchen
19,India,Bangalore,12300000,India-Bangalore
20,India,NCT of Delhi,32600000,India-NCT of Delhi
21,Italy,Bergamo,120000,Italy-Bergamo
22,Italy,Florence,380000,Italy-Florence
23,Italy,Milano,3100000,Italy-Milano
24,Italy,Monza and Brianza,900000,Italy-Monza and Brianza
25,Italy,Rome,2860000,Italy-Rome
26,Japan,Osaka,2750000,Japan-Osaka
27,Japan,Tokyo,37400000,Japan-Tokyo
28,South Africa,City of Cape Town,4700000,South Africa-City of Cape Town
29,South Africa,City of Johannesburg,5700000,South Africa-City of Johannesburg
30,Sweden,G?teborg,1000000,Sweden-G?teborg
31,Sweden,Malm?,350000,Sweden-Malm?
32,Sweden,Stockholm,2400000,Sweden-Stockholm
33,Sweden,Uppsala,230000,Sweden-Uppsala
34,United Kingdom,Birmingham,1150000,United Kingdom-Birmingham
35,United Kingdom,Cambridgeshire,900000,United Kingdom-Cambridgeshire
36,United Kingdom,London,9500000,United Kingdom-London
37,United Kingdom,Oxfordshire,700000,United Kingdom-Oxfordshire
38,United States,Chicago,9500000,United States-Chicago
39,United States,Columbus,900000,United States-Columbus
40,United States,Los Angeles,13100000,United States-Los Angeles
41,United States,New York,19800000,United States-New York
42,United States,Phoenix,1700000,United States-Phoenix
43,United States,Pittsburgh,1250000,United States-Pittsburgh
44,United States,Saint Louis,290000,United States-Saint Louis
45,United States,Salt Lake,200000,United States-Salt Lake
46,Brazil,Sao Paulo,12000000,Brazil-Sao Paulo
47,Chile,Santiago,6999000,Chile-Santiago
48,Peru,Lima,10092000,Peru-Lima
49,Colombia,Bogota,7000000,Colombia-Bogota

In [13]:
# df_merged.to_csv('df_merged.csv', index=False, encoding='utf-8-sig')

In [14]:
# df_merged = df_merged[df_merged['avg_users'] > 1000].reset_index(drop=True)
df_merged = df_merged[df_merged['user_rate'] > 0.5].reset_index(drop=True)
df_merged

,avg_PM25,air_total_days,avg_hours,avg_users,avg_cough_rate,total_days,avg_TAVG,avg_PRCP,climate_total_days,Country-city,Country,City,Population,user_rate
0,25.243902,623,21801.531931,3207.896282,0.584968,511,72.223833,0.172068,622,Australia-Brisbane,Australia,Brisbane,2570000,12.482087
1,32.546493,613,32035.588813,4733.064579,0.568597,511,59.508065,0.081542,620,Australia-Melbourne,Australia,Melbourne,5390000,8.781196
2,21.725678,628,33913.194162,5077.722114,0.584062,511,65.942717,0.100586,611,Australia-Sydney,Australia,Sydney,5560000,9.132594
3,51.156766,613,16205.574544,2610.390625,0.691427,512,70.055976,0.138514,661,Brazil-Sao Paulo,Brazil,Sao Paulo,12000000,2.175326
4,65.302885,630,3304.354395,529.849609,0.733482,512,60.225564,0.024577,665,Chile-Santiago,Chile,Santiago,6999000,0.757036
5,89.290271,628,8676.637157,1361.633333,0.558888,510,51.278481,0.064301,553,China-Beijing,China,Beijing,22596000,0.602599
6,106.097756,626,2479.888987,396.870588,0.560845,510,60.422182,0.090475,559,China-Chengdu,China,Chengdu,7416000,0.535155
7,91.641476,571,2816.383301,448.369352,0.531760,509,63.202341,0.170759,598,China-Hangzhou,China,Hangzhou,6242000,0.718310
8,89.940989,628,11831.514379,1823.125490,0.555558,510,60.750909,0.112719,550,China-Shanghai,China,Shanghai,30000000,0.607708
9,52.924800,627,23640.092057,3594.384766,0.643108,512,53.571659,0.088668,630,France-Paris,France,Paris,12100000,2.970566
10,52.151515,628,18642.766504,2796.610568,0.592418,511,49.536313,0.065505,548,Germany-Berlin,Germany,Berlin,3700000,7.558407
11,40.058020,628,2110.563470,316.636008,0.630701,511,49.762774,0.071332,548,Germany-Leipzig,Germany,Leipzig,600000,5.277267
12,13.920129,696,808.741818,122.652525,0.694822,495,56.043928,0.146068,387,Italy-Bergamo,Italy,Bergamo,120000,10.221044
13,4.744167,684,1665.538682,255.414873,0.852640,511,41.259484,0.066976,659,Italy-Florence,Italy,Florence,380000,6.721444
14,18.976879,537,11405.309132,1778.103718,0.693084,511,56.043928,0.146068,387,Italy-Milano,Italy,Milano,3100000,5.735818
15,12.687979,574,960.336467,145.088000,0.869598,500,56.043928,0.146068,387,Italy-Monza and Brianza,Italy,Monza and Brianza,900000,1.612089
16,6.386667,696,6396.103620,1003.144814,0.766125,511,61.163606,0.065914,599,Italy-Rome,Italy,Rome,2860000,3.507499
17,50.894737,628,35809.110763,6022.166341,0.766433,511,61.652666,0.151382,619,Japan-Osaka,Japan,Osaka,2750000,21.898787
18,34.829061,629,119307.823940,19961.923679,0.706378,511,60.747981,0.173847,619,Japan-Tokyo,Japan,Tokyo,37400000,5.337413
19,48.473684,239,2619.957339,388.195695,0.684366,511,64.321008,0.256441,595,South Africa-City of Cape Town,South Africa,City of Cape Town,4700000,0.825948
20,11.030535,636,2312.302414,351.258317,0.729593,511,66.287435,0.250238,581,South Africa-City of Johannesburg,South Africa,City of Johannesburg,5700000,0.616243
21,19.559016,615,3782.186921,542.994129,0.750005,511,41.048358,0.051058,548,Sweden-Uppsala,Sweden,Uppsala,230000,23.608440
22,33.834798,573,4966.653718,754.761252,0.721695,511,50.412561,0.098029,548,United Kingdom-Birmingham,United Kingdom,Birmingham,1150000,6.563141
23,4.975957,517,4289.139432,615.954990,0.677420,511,56.038062,0.112895,578,United Kingdom-Cambridgeshire,United Kingdom,Cambridgeshire,900000,6.843944
24,46.599681,628,91261.880469,13624.781250,0.608610,512,51.715302,0.085737,562,United Kingdom-London,United Kingdom,London,9500000,14.341875
25,9.966942,605,5090.966210,726.896282,0.711827,511,49.979015,0.090292,548,United Kingdom-Oxfordshire,United Kingdom,Oxfordshire,700000,10.384233
26,32.802885,625,26136.038542,3944.730469,0.577351,512,47.252019,0.082621,624,United States-Chicago,United States,Chicago,9500000,4.152348
27,34.546703,514,15362.955208,2353.173828,0.666845,512,63.163695,0.388641,617,United States-Columbus,United States,Columbus,900000,26.146376
28,47.547812,626,52715.499349,8002.027344,0.597739,512,59.784000,0.034097,625,United States-Los Angeles,United States,Los Angeles,13100000,6.108418
29,36.537190,605,33945.854850,5248.070312,0.455853,512,55.339144,0.117143,631,United States-New York,United States,New York,19800000,2.650541
30,29.009569,628,20510.874494,3072.000000,0.668349,511,72.895238,0.010810,630,United States-Phoenix,United States,Phoenix,1700000,18.070588
31,33.990338,628,5883.640951,893.384766,0.646921,512,50.475318,0.118778,630,United States-Pittsburgh,United States,Pittsburgh,1250000,7.147078
32,34.051364,623,7093.238639,1056.826172,0.619516,512,57.489699,0.127603,631,United States-Saint Louis,United States,Saint Louis,290000,36.442282
33,28.797448,628,9476.042922,1416.307241,0.629422,511,53.564184,0.040588,631,United States-Salt Lake,United States,Salt Lake,200000,70.815362

##  Panel data

In [15]:
# 创建一个从 NAME_2 到 NAME_0 的映射（字典）
name2_to_name0 = gdf.dropna(subset=['NAME_2']).drop_duplicates(subset=['NAME_2'])[['NAME_2', 'NAME_0']]
name2_to_name0_dict = dict(zip(name2_to_name0['NAME_2'], name2_to_name0['NAME_0']))

# 遍历所有唯一的 NAME_2（排除缺失）
# for name in gdf['NAME_2'].dropna().unique():
#     country = name2_to_name0_dict.get(name)
#     print(f"City: {name}, Country: {country}")

results = []

for name in gdf['NAME_2'].unique():
    
    country = name2_to_name0_dict.get(name)
    
    filename = "cough_aggregates_" + name.replace(" ", "_") + "_2024.csv"
    filepath = os.path.join(data_dir, filename)

    df = pd.read_csv(filepath)
    
    # 转换为 datetime 类型
    df['date'] = pd.to_datetime(df['Date_Created'], errors='coerce')
    df['date'] = df['date'].dt.strftime('%Y-%m-%d')
    df['cough_rate'] = pd.to_numeric(df['cough_rate'], errors='coerce')
    avg_users = df['total_users'].mean()
    
    if avg_users> 0:  #全部城市
        
        
        filename = name.replace(" ", "-") + "-air-quality.csv"
        air_dir = r"E:\sleep cycle\data\air_quality_all"
        filepath = os.path.join(air_dir, filename)
        df_air = pd.read_csv(filepath)
        
        df_air.columns = df_air.columns.str.strip()
        df_air['date'] = pd.to_datetime(df_air['date'], errors='coerce')
        df_air['date'] = df_air['date'].dt.strftime('%Y-%m-%d')
        df_air['pm25'] = pd.to_numeric(df_air['pm25'], errors='coerce')
        df_air = df_air[['date', 'pm25']]
        
        df_merged = pd.merge(df, df_air, on='date', how='inner')
        df_merged['city'] = name
        df_merged['country'] = country
        
        
        
        filename = name + "_noaa.csv"
        weather_dir = r"E:\sleep cycle\data\weather_all"
        filepath = os.path.join(weather_dir, filename)
        df_wea = pd.read_csv(filepath)
        
        df_wea.columns = df_wea.columns.str.strip()
        df_wea['date'] = pd.to_datetime(df_wea['DATE'], errors='coerce')
        df_wea['date'] = df_wea['date'].dt.strftime('%Y-%m-%d')
        df_wea['TAVG'] = pd.to_numeric(df_wea['TAVG'], errors='coerce').fillna(0)
        df_wea['PRCP'] = pd.to_numeric(df_wea['PRCP'], errors='coerce').fillna(0)
        df_wea = df_wea[['date', 'TAVG','PRCP']]
        df_merged = pd.merge(df_merged, df_wea, on='date', how='inner')
        
        
        results.append(df_merged)
        
df_panel = pd.concat(results, ignore_index=True) 
df_panel = df_panel[['cough_rate','date','pm25','city','country','TAVG','PRCP']]

In [16]:
df_panel

       cough_rate        date   pm25       city country  TAVG  PRCP
0        0.554037  2023-10-01   79.0  Bangalore   India  75.0  0.02
1        0.873328  2023-10-02   79.0  Bangalore   India  76.0  0.00
2        0.343569  2023-10-03   79.0  Bangalore   India  77.0  0.00
3        0.306689  2023-10-04   79.0  Bangalore   India  77.0  0.00
4        0.458007  2023-10-05   79.0  Bangalore   India  79.0  0.00
...           ...         ...    ...        ...     ...   ...   ...
22921    0.548732  2025-02-24  131.0  Zhengzhou   China  42.0  0.00
22922    0.647141  2025-02-25  150.0  Zhengzhou   China  46.0  0.00
22923    0.467985  2025-02-26  140.0  Zhengzhou   China  51.0  0.00
22924    0.738677  2025-02-27  149.0  Zhengzhou   China  50.0  0.00
22925    0.511147  2025-02-28  163.0  Zhengzhou   China  59.0  0.02

[22926 rows x 7 columns]

In [17]:
# df_panel.to_csv('panel_data_all.csv', index=False)

## Add flu rate

In [18]:
import pandas as pd
from scipy.stats import pearsonr
import os

# ✅ 读取主面板数据
df_flu = df_panel.copy()
df_flu["date"] = pd.to_datetime(df_flu["date"])

# ✅ 保存合并后的结果
merged_dfs = []

for country in df_flu["country"].unique():
    try:
        flu_file = f"E:\\sleep cycle\\data\\flu\\flu_daily_{country}.csv"
        if not os.path.exists(flu_file):
            print(f"⚠️ 跳过：未找到 {flu_file}")
            continue

        # 读取该国家的流感数据
        df_flu_country = pd.read_csv(flu_file)
        df_flu_country["date"] = pd.to_datetime(df_flu_country["date"])
        df_flu_country["country"] = country  # 添加字段，便于 merge

        # 合并到主数据中
        df_sub = df_flu[df_flu["country"] == country]
        df_merged = pd.merge(df_sub, df_flu_country[["date", "country", "flu_rate"]],
                             on=["date", "country"], how="left")

        merged_dfs.append(df_merged)

    except Exception as e:
        print(f"❌ 合并 {country} 失败：{e}")

# ✅ 合并所有国家数据
df_flu_final = pd.concat(merged_dfs, ignore_index=True)

# ✅ 保存结果
# df_flu_final.to_csv("panel_data_all_with_flu_rate.csv", index=False)
print("✅ 成功！保存为 df_flu_with_flu_rate.csv")

✅ 成功！保存为 df_flu_with_flu_rate.csv

In [19]:
df_flu_final

       cough_rate       date  pm25       city country  TAVG  PRCP  flu_rate
0        0.554037 2023-10-01  79.0  Bangalore   India  75.0  0.02  0.134831
1        0.873328 2023-10-02  79.0  Bangalore   India  76.0  0.00  0.142442
2        0.343569 2023-10-03  79.0  Bangalore   India  77.0  0.00  0.142442
3        0.306689 2023-10-04  79.0  Bangalore   India  77.0  0.00  0.142442
4        0.458007 2023-10-05  79.0  Bangalore   India  79.0  0.00  0.142442
...           ...        ...   ...        ...     ...   ...   ...       ...
22935    0.530524 2025-02-24  42.0  Sao Paulo  Brazil  77.0  0.00  0.025316
22936    0.521488 2025-02-25  49.0  Sao Paulo  Brazil  78.0  0.00  0.025316
22937    0.517456 2025-02-26  49.0  Sao Paulo  Brazil  78.0  0.00  0.025316
22938    0.509430 2025-02-27  58.0  Sao Paulo  Brazil  78.0  0.00  0.025316
22939    0.560709 2025-02-28  59.0  Sao Paulo  Brazil  74.0  0.00  0.025316

[22940 rows x 8 columns]